:host {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   max-width: 100%;
   overflow: hidden;
   box-sizing: border-box;
}
app-header{
    background-color: #bbb;
    flex-grow: 0 ;
    flex-shrink: 1 ;
    flex-basis: 5emng ;
}
app-mainlayer{
   background-color: #ddd;
   flex-grow: 1  ;
   flex-shrink: 1 ;
   flex-basis: auto;
}
